{% extends 'base.html.twig' %}

{% block title %}Top track!{% endblock %}

{% block body %}

<pre>
    {{ dump(data) }}
</pre>

{# {% for index,track in data.items %}

    <h2>#{{ index + 1 }} - {{ track.name }}</h2>

    <ul>
        {% for artist in track.artists %}
            <li>{{ artist.name }}</li>
        {% endfor %}
    </ul>

{% endfor %} #}

{% endblock %}
