{% block title %}HOMEPAGE SPOTIFAN{% endblock %}

{% block body %}

hello !

<a href="{{ path('login') }}">LOG IN</a>

{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
